<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.thumbbackend.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.leo.thumbbackend.model.entity.Blog">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="title" column="title" />
            <result property="coverImg" column="coverImg" />
            <result property="content" column="content" />
            <result property="thumbCount" column="thumbCount" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,title,coverImg,content,thumbCount,
        createTime,updateTime
    </sql>
    <update id="batchUpdateThumbCount">
        UPDATE blog
        SET thumbCount = thumbCount + CASE id
        <foreach collection="countMap.entrySet()" item="value" index="key">
            WHEN #{key} THEN #{value}
        </foreach>
        END
        WHERE id IN
        <foreach collection="countMap.keySet()" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="listBlogIdsAfterId" resultType="java.lang.Long">
        SELECT id
        FROM blog
        WHERE id &gt; #{lastId}
        ORDER BY id ASC
        LIMIT #{limit}
    </select>
    <select id="listExistingBlogIds" resultType="java.lang.Long">
        SELECT id
        FROM blog
        WHERE id IN
        <foreach collection="blogIds" item="blogId" open="(" separator="," close=")">
            #{blogId}
        </foreach>
    </select>
</mapper>
